# see ug385.pdf p.279
net "MISO"  LOC = "P10" | IOSTANDARD = LVCMOS33 | PULLUP; # [N] DIN
net "MOSI"  LOC = "T10" | IOSTANDARD = LVCMOS33; # [B] CSI
net "CSB"   LOC = "T3"  | IOSTANDARD = LVCMOS33; # [b] CSO
net "DRCK1" LOC = "R11" | IOSTANDARD = LVCMOS33; # [C] CCLK

NET "LEDS<0>" LOC="P11" | IOSTANDARD = LVCMOS33;
NET "LEDS<1>" LOC="N9"  | IOSTANDARD = LVCMOS33;
NET "LEDS<2>" LOC="M9"  | IOSTANDARD = LVCMOS33;
NET "LEDS<3>" LOC="P9"  | IOSTANDARD = LVCMOS33;
NET "LEDS<4>" LOC="T8"  | IOSTANDARD = LVCMOS33;
NET "LEDS<5>" LOC="N8"  | IOSTANDARD = LVCMOS33;
NET "LEDS<6>" LOC="P8"  | IOSTANDARD = LVCMOS33;
NET "LEDS<7>" LOC="P7"  | IOSTANDARD = LVCMOS33;
