#
NET LED1           LOC="P112" |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;          # LED1
NET CSB            LOC="P38"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;          # FLASH_CS
NET DRCK1          LOC="P70"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;          # FLASH_CK
NET MOSI           LOC="P64"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST;          # FLASH_SI
NET MISO           LOC="P65"  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=FAST |PULLUP;  # FLASH_SO
