BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## FleaFPGA_Ohm_A5 Pin Constraints File
## Author: Valentin Angelovski 
## Date: 15th January 2018
##
## ***** ECP5 PIN DECLARATIONS *****
## SYSCONFIG PARAMETERS
VCCIO_DERATE PERCENT 0; 
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE BACKGROUND_RECONFIG=OFF TRANSFR=ON CONFIG_MODE=SPI_SERIAL DONE_OD=OFF DONE_EX=OFF MCCLK_FREQ=38.8;
## 25MHz MASTER CLOCK AND RESET;
IOBUF PORT "sys_clock" IO_TYPE=LVCMOS25;
FREQUENCY PORT "sys_clock" 25.000000 MHz;
LOCATE COMP "sys_clock" SITE "H2";
IOBUF PORT "sys_reset" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "sys_reset" SITE "T17";
## USER LED;
IOBUF PORT "n_led1" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "n_led1" SITE "P2";
## USB SLAVE UART; ## Swapped in PCB rev 2v4!!!
IOBUF PORT "slave_rx_i" IO_TYPE=LVCMOS25 PULLMODE=NONE;
IOBUF PORT "slave_tx_o" IO_TYPE=LVCMOS25;
IOBUF PORT "slave_cts_i" IO_TYPE=LVCMOS25 PULLMODE=NONE;
LOCATE COMP "slave_tx_o" SITE "P1";
LOCATE COMP "slave_rx_i" SITE "P3";
LOCATE COMP "slave_cts_i" SITE "Y2";
## IOBUF ps/2 AND USB HOST PORTS
IOBUF PORT "usb1_dp" IO_TYPE=LVCMOS25 PULLMODE=UP;
IOBUF PORT "usb1_dn" IO_TYPE=LVCMOS25 PULLMODE=UP;
LOCATE COMP "usb1_dp" SITE "K2";
LOCATE COMP "usb1_dn" SITE "J1";
IOBUF PORT "usb2_dp" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF PORT "usb2_dn" PULLMODE=UP IO_TYPE=LVCMOS25;
LOCATE COMP "usb2_dp" SITE "N2";
LOCATE COMP "usb2_dn" SITE "M1";
IOBUF PORT "usb1_ps2_enable" IO_TYPE=LVCMOS25 PULLMODE=NONE;
LOCATE COMP "usb1_ps2_enable" SITE "N1";
## IOBUF RASPI COMPATIBLE gpio HEADER
## NOTE: gpio_5, gpio_7, gpio_10 AND gpio_24 MUST ALL BE COMMENTED OUT WHEN USING THESE PINS AS SIGMA DELTA ADC INPUTS!
IOBUF PORT "gpio[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE; # gpio_IDSD
IOBUF PORT "gpio[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE; # gpio_IDSC
IOBUF PORT "gpio[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "gpio[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "gpio[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[16]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[17]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[18]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[19]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[20]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[21]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[22]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[23]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[24]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[25]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[26]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[27]" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio[0]" SITE "N19"; # gpio_IDSD
LOCATE COMP "gpio[1]" SITE "N20"; # gpio_IDSC
LOCATE COMP "gpio[2]" SITE "D17";
LOCATE COMP "gpio[3]" SITE "C18";
LOCATE COMP "gpio[4]" SITE "D19";
LOCATE COMP "gpio[5]" SITE "T20";
LOCATE COMP "gpio[6]" SITE "T19";
LOCATE COMP "gpio[7]" SITE "L19";
LOCATE COMP "gpio[8]" SITE "M20";
LOCATE COMP "gpio[9]" SITE "J19";
LOCATE COMP "gpio[10]" SITE "G19";
LOCATE COMP "gpio[11]" SITE "K19";
LOCATE COMP "gpio[13]" SITE "N16";
LOCATE COMP "gpio[12]" SITE "R18";
LOCATE COMP "gpio[14]" SITE "C20";
LOCATE COMP "gpio[15]" SITE "E17";
LOCATE COMP "gpio[16]" SITE "M17";
LOCATE COMP "gpio[17]" SITE "F17";
LOCATE COMP "gpio[18]" SITE "D18";
LOCATE COMP "gpio[19]" SITE "U18";
LOCATE COMP "gpio[20]" SITE "N17";
LOCATE COMP "gpio[21]" SITE "P16";
LOCATE COMP "gpio[22]" SITE "F19";
LOCATE COMP "gpio[23]" SITE "E20";
LOCATE COMP "gpio[24]" SITE "D20";
LOCATE COMP "gpio[25]" SITE "L20";
LOCATE COMP "gpio[26]" SITE "U17";
LOCATE COMP "gpio[27]" SITE "G18";
##
## SIGMA-DELTA ADC INPUTS 
## NOTE: THESE PIN DEFINITIONS MUST BE COMMENTED OUT WHEN gpio_5, gpio_7, gpio_10 AND gpio_24 USED AS PLAIN OLD DIGITAL gpio!
##IOBUF PORT "ADC3_error" IO_TYPE=LVCMOS33;
##LOCATE COMP "ADC3_error" SITE "R20";
##IOBUF PORT "ADC3_input" IO_TYPE=LVCMOS33D PULLMODE=NONE;
##LOCATE COMP "ADC3_input" SITE "T20";
##LOCATE COMP "ADC2_error" SITE "P20";
##IOBUF PORT "ADC2_error" IO_TYPE=LVCMOS33;
##IOBUF PORT "ADC2_input" PULLMODE=NONE IO_TYPE=LVCMOS33D;
##LOCATE COMP "ADC2_input" SITE "L19";
##IOBUF PORT "ADC1_error" IO_TYPE=LVCMOS33;
#IOBUF PORT "ADC1_input" IO_TYPE=LVCMOS33D;
##LOCATE COMP "ADC1_input" SITE "G19";
##LOCATE COMP "ADC1_error" SITE "J20";
##IOBUF PORT "ADC0_input" PULLMODE=NONE IO_TYPE=LVCMOS33D;
##IOBUF PORT "ADC0_error" IO_TYPE=LVCMOS33;
##LOCATE COMP "ADC0_error" SITE "E18";
##LOCATE COMP "ADC0_input" SITE "D20";
##
## SDRAM;
IOBUF PORT "dram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_n_cs" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_n_ras" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_n_cas" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_n_we" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_addr[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
IOBUF PORT "dram_data[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=12;
LOCATE COMP "dram_clk" SITE "C17";
LOCATE COMP "dram_cke" SITE "C15";
LOCATE COMP "dram_n_cs" SITE "C11";
LOCATE COMP "dram_n_ras" SITE "C12";
LOCATE COMP "dram_n_cas" SITE "B11";
LOCATE COMP "dram_n_we" SITE "D12";
LOCATE COMP "dram_ba[0]" SITE "A12";
LOCATE COMP "dram_ba[1]" SITE "D11";
LOCATE COMP "dram_addr[0]" SITE "B12";
LOCATE COMP "dram_addr[1]" SITE "C10";
LOCATE COMP "dram_addr[2]" SITE "D8";
LOCATE COMP "dram_addr[3]" SITE "A13";
LOCATE COMP "dram_addr[4]" SITE "D13";
LOCATE COMP "dram_addr[5]" SITE "C13";
LOCATE COMP "dram_addr[6]" SITE "B13";
LOCATE COMP "dram_addr[7]" SITE "D15";
LOCATE COMP "dram_addr[8]" SITE "D14";
LOCATE COMP "dram_addr[9]" SITE "A14";
LOCATE COMP "dram_addr[11]" SITE "C16";
LOCATE COMP "dram_addr[12]" SITE "C14";
LOCATE COMP "dram_addr[10]" SITE "D9";
LOCATE COMP "dram_dqm[0]" SITE "A11";
LOCATE COMP "dram_dqm[1]" SITE "D16";
LOCATE COMP "dram_data[0]" SITE "A10";
LOCATE COMP "dram_data[1]" SITE "B9";
LOCATE COMP "dram_data[2]" SITE "B10";
LOCATE COMP "dram_data[3]" SITE "A9";
LOCATE COMP "dram_data[4]" SITE "B8";
LOCATE COMP "dram_data[5]" SITE "A8";
LOCATE COMP "dram_data[6]" SITE "C8";
LOCATE COMP "dram_data[7]" SITE "A7";
LOCATE COMP "dram_data[8]" SITE "A19";
LOCATE COMP "dram_data[9]" SITE "B18";
LOCATE COMP "dram_data[10]" SITE "A18";
LOCATE COMP "dram_data[11]" SITE "B17";
LOCATE COMP "dram_data[12]" SITE "A17";
LOCATE COMP "dram_data[13]" SITE "B15";
LOCATE COMP "dram_data[14]" SITE "B16";
LOCATE COMP "dram_data[15]" SITE "A16";
## SD/MMC PORT
IOBUF PORT "mmc_miso" IO_TYPE=LVCMOS25 PULLMODE=NONE;
IOBUF PORT "mmc_dat1" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "mmc_dat2" IO_TYPE=LVCMOS33 PULLMODE=NONE;
IOBUF PORT "mmc_n_cs" IO_TYPE=LVCMOS25 PULLMODE=NONE;
IOBUF PORT "mmc_mosi" IO_TYPE=LVCMOS25 PULLMODE=NONE;
IOBUF PORT "mmc_clk" IO_TYPE=LVCMOS25;
LOCATE COMP "mmc_miso" SITE "C2";
LOCATE COMP "mmc_clk" SITE "C3";
LOCATE COMP "mmc_mosi" SITE "B2";
LOCATE COMP "mmc_n_cs" SITE "B3";
## DIGITAL VIDEO OUT
IOBUF PORT "lvds_blue[0]" IO_TYPE=lvds;
IOBUF PORT "lvds_blue[1]" IO_TYPE=lvds;
IOBUF PORT "lvds_green[0]" IO_TYPE=lvds;
IOBUF PORT "lvds_green[1]" IO_TYPE=lvds;
IOBUF PORT "lvds_red[0]" IO_TYPE=lvds;
IOBUF PORT "lvds_red[1]" IO_TYPE=lvds;
IOBUF PORT "lvds_ck[0]" IO_TYPE=lvds;
IOBUF PORT "lvds_ck[1]" IO_TYPE=lvds;
LOCATE COMP "lvds_red[0]" SITE "C1";
LOCATE COMP "lvds_red[1]" SITE "D1";
LOCATE COMP "lvds_green[0]" SITE "A2";
LOCATE COMP "lvds_green[1]" SITE "B1";
LOCATE COMP "lvds_blue[0]" SITE "A4";
LOCATE COMP "lvds_blue[1]" SITE "A5";
LOCATE COMP "lvds_ck[0]" SITE "G2";
LOCATE COMP "lvds_ck[1]" SITE "F1";
