BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
## UPDATED FleaFPGA_2v4 18092013 0548PM
## IOBUF USER PUSHBUTTONS;
LOCATE COMP "LVDS_Blue" SITE "128" ;
LOCATE COMP "LVDS_Green" SITE "133" ;
LOCATE COMP "LVDS_Red" SITE "139" ;
LOCATE COMP "LVDS_ck" SITE "122" ;
LOCATE COMP "sys_clock" SITE "126" ;
FREQUENCY PORT "sys_clock" 25 MHZ ;
IOBUF PORT "User_LED1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "User_LED2" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=24 ;
IOBUF PORT "sys_clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "User_LED1" SITE "1" ;
LOCATE COMP "User_LED2" SITE "2" ;
IOBUF PORT "LVDS_Blue" IO_TYPE=LVDS25 CLAMP=ON ;
IOBUF PORT "LVDS_Green" IO_TYPE=LVDS25 PULLMODE=NONE CLAMP=ON ;
IOBUF PORT "LVDS_Red" IO_TYPE=LVDS25 CLAMP=ON ;
IOBUF PORT "LVDS_ck" IO_TYPE=LVDS25 DIFFDRIVE="3.5" CLAMP=ON ;
LOCATE COMP "slave_rx_i" SITE "141" ;
IOBUF PORT "slave_rx_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "slave_tx_o" SITE "140" ;
IOBUF PORT "slave_tx_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "User_n_PB1" SITE "11" ;
IOBUF PORT "User_n_PB1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Audio_l" SITE "32" ;
LOCATE COMP "Audio_r" SITE "33" ;
IOBUF PORT "Audio_l" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Audio_r" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "SRAM_Data[0]" SITE "65" ;
LOCATE COMP "SRAM_Data[1]" SITE "63" ;
LOCATE COMP "SRAM_Data[2]" SITE "62" ;
LOCATE COMP "SRAM_Data[3]" SITE "55" ;
IOBUF PORT "SRAM_Data[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Data[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
LOCATE COMP "SRAM_Data[4]" SITE "49" ;
LOCATE COMP "SRAM_Data[5]" SITE "50" ;
LOCATE COMP "SRAM_Data[6]" SITE "52" ;
LOCATE COMP "SRAM_Data[7]" SITE "54" ;
LOCATE COMP "SRAM_n_we" SITE "56" ;
LOCATE COMP "SRAM_n_cs" SITE "67" ;
LOCATE COMP "SRAM_n_oe" SITE "41" ;
LOCATE COMP "SRAM_Addr[0]" SITE "73" ;
LOCATE COMP "SRAM_Addr[1]" SITE "71" ;
LOCATE COMP "SRAM_Addr[2]" SITE "70" ;
LOCATE COMP "SRAM_Addr[3]" SITE "69" ;
LOCATE COMP "SRAM_Addr[4]" SITE "68" ;
IOBUF PORT "SRAM_Addr[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[16]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[17]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_Addr[18]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "SRAM_n_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=12 SLEWRATE=FAST ;
IOBUF PORT "SRAM_n_oe" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=12 SLEWRATE=FAST ;
IOBUF PORT "SRAM_n_we" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=12 SLEWRATE=FAST ;
LOCATE COMP "SRAM_Addr[5]" SITE "57" ;
LOCATE COMP "SRAM_Addr[6]" SITE "58" ;
LOCATE COMP "SRAM_Addr[7]" SITE "59" ;
LOCATE COMP "SRAM_Addr[8]" SITE "60" ;
LOCATE COMP "SRAM_Addr[9]" SITE "61" ;
LOCATE COMP "SRAM_Addr[10]" SITE "43" ;
LOCATE COMP "SRAM_Addr[11]" SITE "44" ;
LOCATE COMP "SRAM_Addr[12]" SITE "45" ;
LOCATE COMP "SRAM_Addr[13]" SITE "47" ;
LOCATE COMP "SRAM_Addr[14]" SITE "48" ;
LOCATE COMP "SRAM_Addr[15]" SITE "40" ;
LOCATE COMP "SRAM_Addr[16]" SITE "39" ;
LOCATE COMP "SRAM_Addr[17]" SITE "38" ;
LOCATE COMP "SRAM_Addr[18]" SITE "35" ;
OUTPUT PORT "SRAM_n_we" LOAD 0.000000 pF ;
IOBUF PORT "GPIO_pullup[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_pullup[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "GPIO_wordport[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_wordport[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
LOCATE COMP "GPIO_wordport[0]" SITE "74" ;
LOCATE COMP "GPIO_wordport[1]" SITE "76" ;
LOCATE COMP "GPIO_wordport[2]" SITE "78" ;
LOCATE COMP "GPIO_wordport[3]" SITE "82" ;
LOCATE COMP "GPIO_wordport[4]" SITE "84" ;
LOCATE COMP "GPIO_wordport[5]" SITE "86" ;
LOCATE COMP "GPIO_wordport[6]" SITE "89" ;
LOCATE COMP "GPIO_wordport[7]" SITE "92" ;
LOCATE COMP "GPIO_wordport[8]" SITE "94" ;
LOCATE COMP "GPIO_wordport[9]" SITE "96" ;
LOCATE COMP "GPIO_wordport[10]" SITE "98" ;
LOCATE COMP "GPIO_wordport[11]" SITE "100" ;
LOCATE COMP "GPIO_wordport[12]" SITE "104" ;
LOCATE COMP "GPIO_wordport[13]" SITE "106" ;
LOCATE COMP "GPIO_wordport[14]" SITE "111" ;
LOCATE COMP "GPIO_wordport[15]" SITE "113" ;
LOCATE COMP "GPIO_pullup[0]" SITE "75" ;
LOCATE COMP "GPIO_pullup[1]" SITE "77" ;
LOCATE COMP "GPIO_pullup[2]" SITE "81" ;
LOCATE COMP "GPIO_pullup[3]" SITE "83" ;
LOCATE COMP "GPIO_pullup[4]" SITE "85" ;
LOCATE COMP "GPIO_pullup[5]" SITE "87" ;
LOCATE COMP "GPIO_pullup[6]" SITE "91" ;
LOCATE COMP "GPIO_pullup[7]" SITE "93" ;
LOCATE COMP "GPIO_pullup[8]" SITE "95" ;
LOCATE COMP "GPIO_pullup[9]" SITE "97" ;
LOCATE COMP "GPIO_pullup[10]" SITE "99" ;
LOCATE COMP "GPIO_pullup[11]" SITE "103" ;
LOCATE COMP "GPIO_pullup[12]" SITE "105" ;
LOCATE COMP "GPIO_pullup[13]" SITE "107" ;
LOCATE COMP "GPIO_pullup[14]" SITE "112" ;
LOCATE COMP "GPIO_pullup[15]" SITE "114" ;
IOBUF PORT "ADC_Comp_in[0]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "ADC_Comp_in[1]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "ADC_Comp_in[2]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "ADC_Comp_in[3]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "ADC_Comp_in[4]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "ADC_Comp_in[5]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "ADC_Error_out[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_Error_out[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_Error_out[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_Error_out[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_Error_out[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ADC_Error_out[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "ADC_Comp_in[0]" SITE "13" ;
LOCATE COMP "ADC_Comp_in[1]" SITE "15" ;
LOCATE COMP "ADC_Comp_in[2]" SITE "19" ;
LOCATE COMP "ADC_Comp_in[3]" SITE "21" ;
LOCATE COMP "ADC_Comp_in[4]" SITE "23" ;
LOCATE COMP "ADC_Comp_in[5]" SITE "25" ;
LOCATE COMP "ADC_Error_out[0]" SITE "5" ;
LOCATE COMP "ADC_Error_out[1]" SITE "6" ;
LOCATE COMP "ADC_Error_out[2]" SITE "9" ;
LOCATE COMP "ADC_Error_out[3]" SITE "10" ;
LOCATE COMP "ADC_Error_out[4]" SITE "4" ;
LOCATE COMP "ADC_Error_out[5]" SITE "3" ;
IOBUF PORT "spi1_miso" IO_TYPE=LVCMOS33 ;
LOCATE COMP "spi1_cs" SITE "125" ;
IOBUF PORT "spi1_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi1_clk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "spi1_mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "spi1_clk" SITE "110" ;
LOCATE COMP "spi1_mosi" SITE "115" ;
LOCATE COMP "spi1_miso" SITE "117" ;
LOCATE COMP "Shield_reset" SITE "142" ;
IOBUF PORT "Shield_reset" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=ON ;
IOBUF PORT "PS2_clk1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "PS2_data1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PS2_clk1" SITE "120" ;
LOCATE COMP "PS2_data1" SITE "119" ;
LOCATE COMP "NTSC_DAC[3]" SITE "27" ;
LOCATE COMP "NTSC_DAC[2]" SITE "28" ;
LOCATE COMP "NTSC_DAC[1]" SITE "143" ;
LOCATE COMP "NTSC_DAC[0]" SITE "31" ;
IOBUF PORT "NTSC_DAC[0]" IO_TYPE=LVCMOS33 DRIVE=24 PULLMODE=NONE ;
IOBUF PORT "NTSC_DAC[1]" IO_TYPE=LVCMOS33 DRIVE=24 PULLMODE=NONE ;
IOBUF PORT "NTSC_DAC[2]" IO_TYPE=LVCMOS33 DRIVE=24 PULLMODE=NONE ;
IOBUF PORT "NTSC_DAC[3]" IO_TYPE=LVCMOS33 DRIVE=24 PULLMODE=NONE ;
IOBUF PORT "wifi_rx_i" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "wifi_rx_i" SITE "12" ;
IOBUF PORT "wifi_tx_o" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "wifi_tx_o" SITE "109" ;
