BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## Kondor-AX minimal constraints, hand-made
LOCATE COMP "clk_100_p" SITE "C5";
LOCATE COMP "clk_100_n" SITE "D5";
IOBUF PORT "clk_100_p" IO_TYPE=SLVS PULLMODE=NONE DIFFRESISTOR=100 BANK_VCCIO=1.2;
IOBUF PORT "clk_100_n" IO_TYPE=SLVS PULLMODE=NONE DIFFRESISTOR=100 BANK_VCCIO=1.2;
FREQUENCY PORT "clk_100_p" 100 MHZ;
FREQUENCY PORT "clk_100_n" 100 MHZ;
## LED indicators
LOCATE COMP "led[7]" SITE "K27"; # OUT (green dual)
LOCATE COMP "led[6]" SITE "D10"; # OUT (green dual)
LOCATE COMP "led[5]" SITE "J26"; # OUT (green dual)
LOCATE COMP "led[4]" SITE "A9";  # OUT (green dual)
LOCATE COMP "led[3]" SITE "K26"; # OUT (red dual)
LOCATE COMP "led[2]" SITE "E10"; # OUT (red dual)
LOCATE COMP "led[1]" SITE "J27"; # OUT (red dual)
LOCATE COMP "led[0]" SITE "F10"; # OUT (red dual)
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## FT2232-FPGA serial port
LOCATE COMP "tx" SITE "AJ1"; # OUT
IOBUF  PORT "tx" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "rx" SITE "AG1"; # IN
IOBUF  PORT "rx" PULLMODE=UP IO_TYPE=LVCMOS25;
## SD card
#LOCATE COMP "sd_dat3_csn" SITE "G13";
#LOCATE COMP "sd_cmd_di" SITE "G12";
#LOCATE COMP "sd_clk" SITE "G11";
#LOCATE COMP "sd_dat0_do" SITE "H12";
#LOCATE COMP "sd_dat1_irq" SITE "H11";
#LOCATE COMP "sd_dat2" SITE "F13";
#LOCATE COMP "sd_cdn" SITE "E13";
#LOCATE COMP "sd_wp" SITE "J12";
#LOCATE COMP "sd_pwrn" SITE "H13";
#IOBUF  PORT "sd_dat3_csn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_cmd_di" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_clk" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat0_do" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat1_irq" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat2" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_cdn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_wp" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_pwrn" PULLMODE=UP IO_TYPE=LVCMOS33;
## SPI Flash chips (select only one, flash_cfg_select[n]=1"
LOCATE COMP "flash_csn" SITE "AG3";
LOCATE COMP "flash_clk" SITE "AM3";
LOCATE COMP "flash_mosi" SITE "AK2";
LOCATE COMP "flash_miso" SITE "AJ2";
LOCATE COMP "flash_csspin" SITE "AJ3";
LOCATE COMP "flash_initn" SITE "AG4";
LOCATE COMP "flash_done" SITE "AJ4";
LOCATE COMP "flash_programn" SITE "AH4";
LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS25;
## DIP switches
#LOCATE COMP "dip[0]" SITE "A33";
#LOCATE COMP "dip[1]" SITE "A32";
#LOCATE COMP "dip[2]" SITE "B32";
#LOCATE COMP "dip[3]" SITE "C32";
#IOBUF  PORT "dip[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## Pushbuttons
#LOCATE COMP "btn[0]" SITE "E11";
#LOCATE COMP "btn[1]" SITE "E10";
#LOCATE COMP "btn[2]" SITE "F10";
#LOCATE COMP "btn[3]" SITE "F12";
#IOBUF  PORT "btn[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# LPDDR3 256M x 32 EDF8132A1MC-GD-F (Elpida / Micron)
LOCATE COMP "ddr_ck_p" SITE "C5";
LOCATE COMP "ddr_ck_n" SITE "D5";
LOCATE COMP "ddr_ce0" SITE "K3";
LOCATE COMP "ddr_ce1" SITE "L2";
LOCATE COMP "ddr_cs0" SITE "J4";
LOCATE COMP "ddr_cs1" SITE "H2";
LOCATE COMP "ddr_odt" SITE "K4";
LOCATE COMP "ddr_ca0" SITE "H6";
LOCATE COMP "ddr_ca1" SITE "H5";
LOCATE COMP "ddr_ca2" SITE "J6";
LOCATE COMP "ddr_ca3" SITE "J7";
LOCATE COMP "ddr_ca4" SITE "K6";
LOCATE COMP "ddr_ca5" SITE "L4";
LOCATE COMP "ddr_ca6" SITE "K7";
LOCATE COMP "ddr_ca7" SITE "L7";
LOCATE COMP "ddr_ca8" SITE "N4";
LOCATE COMP "ddr_ca9" SITE "N7";
LOCATE COMP "ddr_dq0" SITE "R3";
LOCATE COMP "ddr_dq1" SITE "N1";
LOCATE COMP "ddr_dq2" SITE "W3";
LOCATE COMP "ddr_dq3" SITE "U1";
LOCATE COMP "ddr_dq4" SITE "P3";
LOCATE COMP "ddr_dq5" SITE "U3";
LOCATE COMP "ddr_dq6" SITE "T3";
LOCATE COMP "ddr_dq7" SITE "T1";
LOCATE COMP "ddr_dq8" SITE "AE4";
LOCATE COMP "ddr_dq9" SITE "AD6";
LOCATE COMP "ddr_dq10" SITE "Y4";
LOCATE COMP "ddr_dq11" SITE "Y6";
LOCATE COMP "ddr_dq12" SITE "AE5";
LOCATE COMP "ddr_dq13" SITE "AC6";
LOCATE COMP "ddr_dq14" SITE "W4";
LOCATE COMP "ddr_dq15" SITE "AC7";
LOCATE COMP "ddr_dq16" SITE "Y1";
LOCATE COMP "ddr_dq17" SITE "AD1";
LOCATE COMP "ddr_dq18" SITE "AE3";
LOCATE COMP "ddr_dq19" SITE "AE1";
LOCATE COMP "ddr_dq20" SITE "AB4";
LOCATE COMP "ddr_dq21" SITE "AB3";
LOCATE COMP "ddr_dq22" SITE "AC1";
LOCATE COMP "ddr_dq23" SITE "AD4";
LOCATE COMP "ddr_dq24" SITE "V7";
LOCATE COMP "ddr_dq25" SITE "U6";
LOCATE COMP "ddr_dq26" SITE "P5";
LOCATE COMP "ddr_dq27" SITE "R6";
LOCATE COMP "ddr_dq28" SITE "V6";
LOCATE COMP "ddr_dq29" SITE "U4";
LOCATE COMP "ddr_dq30" SITE "T4";
LOCATE COMP "ddr_dq31" SITE "P4";
LOCATE COMP "ddr_dqs0_p" SITE "R1";
LOCATE COMP "ddr_dqs0_n" SITE "T2";
LOCATE COMP "ddr_dqs1_p" SITE "AB5";
LOCATE COMP "ddr_dqs1_n" SITE "AB6";
LOCATE COMP "ddr_dqs2_p" SITE "AC3";
LOCATE COMP "ddr_dqs2_n" SITE "AB2";
LOCATE COMP "ddr_dqs3_p" SITE "R4";
LOCATE COMP "ddr_dqs3_n" SITE "T5";
LOCATE COMP "ddr_dm0" SITE "P1";
LOCATE COMP "ddr_dm1" SITE "Y5";
LOCATE COMP "ddr_dm2" SITE "AB1";
LOCATE COMP "ddr_dm3" SITE "T7";
IOBUF PORT "ddr_ck_p" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_ck_n" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_ce0" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ce1" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_cs0" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_cs1" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_odt" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca0" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca1" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca2" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca3" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca4" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca5" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca6" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca7" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca8" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_ca9" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq0" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq1" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq2" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq3" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq4" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq5" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq6" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq7" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq8" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq9" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq10" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq11" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq12" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq13" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq14" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq15" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq16" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq17" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq18" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq19" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq20" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq21" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq22" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq23" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq24" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq25" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq26" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq27" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq28" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq29" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq30" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dq31" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dqs0_p" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs0_n" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs1_p" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs1_n" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs2_p" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs2_n" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs3_p" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dqs3_n" PULLMODE=NONE IO_TYPE=HSUL12D;
IOBUF PORT "ddr_dm0" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dm1" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dm2" PULLMODE=NONE IO_TYPE=HSUL12;
IOBUF PORT "ddr_dm3" PULLMODE=NONE IO_TYPE=HSUL12;
