BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## Kondor-AX minimal constraints, hand-made
LOCATE COMP "clk_100_p" SITE "C5";
LOCATE COMP "clk_100_n" SITE "D5";
IOBUF PORT "clk_100_p" IO_TYPE=SLVS PULLMODE=NONE DIFFRESISTOR=100 BANK_VCCIO=1.2;
IOBUF PORT "clk_100_n" IO_TYPE=SLVS PULLMODE=NONE DIFFRESISTOR=100 BANK_VCCIO=1.2;
FREQUENCY PORT "clk_100_p" 100 MHZ;
FREQUENCY PORT "clk_100_n" 100 MHZ;
## LED indicators
LOCATE COMP "led[7]" SITE "K27"; # OUT (green dual)
LOCATE COMP "led[6]" SITE "D10"; # OUT (green dual)
LOCATE COMP "led[5]" SITE "J26"; # OUT (green dual)
LOCATE COMP "led[4]" SITE "A9";  # OUT (green dual)
LOCATE COMP "led[3]" SITE "K26"; # OUT (red dual)
LOCATE COMP "led[2]" SITE "E10"; # OUT (red dual)
LOCATE COMP "led[1]" SITE "J27"; # OUT (red dual)
LOCATE COMP "led[0]" SITE "F10"; # OUT (red dual)
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## FT2232-FPGA serial port
LOCATE COMP "tx" SITE "AJ1"; # OUT
IOBUF  PORT "tx" PULLMODE=NONE IO_TYPE=LVCMOS25;
LOCATE COMP "rx" SITE "AG1"; # IN
IOBUF  PORT "rx" PULLMODE=UP IO_TYPE=LVCMOS25;
## SD card
#LOCATE COMP "sd_dat3_csn" SITE "G13";
#LOCATE COMP "sd_cmd_di" SITE "G12";
#LOCATE COMP "sd_clk" SITE "G11";
#LOCATE COMP "sd_dat0_do" SITE "H12";
#LOCATE COMP "sd_dat1_irq" SITE "H11";
#LOCATE COMP "sd_dat2" SITE "F13";
#LOCATE COMP "sd_cdn" SITE "E13";
#LOCATE COMP "sd_wp" SITE "J12";
#LOCATE COMP "sd_pwrn" SITE "H13";
#IOBUF  PORT "sd_dat3_csn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_cmd_di" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_clk" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat0_do" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat1_irq" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat2" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_cdn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_wp" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_pwrn" PULLMODE=UP IO_TYPE=LVCMOS33;
## SPI Flash chips (select only one, flash_cfg_select[n]=1"
LOCATE COMP "flash_csn" SITE "AG3";
LOCATE COMP "flash_clk" SITE "AM3";
LOCATE COMP "flash_mosi" SITE "AK2";
LOCATE COMP "flash_miso" SITE "AJ2";
LOCATE COMP "flash_csspin" SITE "AJ3";
LOCATE COMP "flash_initn" SITE "AG4";
LOCATE COMP "flash_done" SITE "AJ4";
LOCATE COMP "flash_programn" SITE "AH4";
LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS25;
IOBUF  PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS25;
## DIP switches
#LOCATE COMP "dip[0]" SITE "A33";
#LOCATE COMP "dip[1]" SITE "A32";
#LOCATE COMP "dip[2]" SITE "B32";
#LOCATE COMP "dip[3]" SITE "C32";
#IOBUF  PORT "dip[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## Pushbuttons
#LOCATE COMP "btn[0]" SITE "E11";
#LOCATE COMP "btn[1]" SITE "E10";
#LOCATE COMP "btn[2]" SITE "F10";
#LOCATE COMP "btn[3]" SITE "F12";
#IOBUF  PORT "btn[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
