BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S minimal constraints, hand-made
LOCATE COMP "clk_100_p" SITE "G2";
IOBUF  PORT "clk_100_p" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_100_p" 100 MHZ;
#FREQUENCY PORT "clk_100_n" 100 MHZ;
# Config voltage 3.3V
SYSCONFIG CONFIG_IOVOLTAGE=3.3;
## LED indicators
LOCATE COMP "led[7]" SITE "H3"; # OUT (green dual)
LOCATE COMP "led[6]" SITE "E1"; # OUT (green dual)
LOCATE COMP "led[5]" SITE "E2"; # OUT (green dual)
LOCATE COMP "led[4]" SITE "D1";  # OUT (green dual)
LOCATE COMP "led[3]" SITE "D2"; # OUT (red dual)
LOCATE COMP "led[2]" SITE "C1"; # OUT (red dual)
LOCATE COMP "led[1]" SITE "C2"; # OUT (red dual)
LOCATE COMP "led[0]" SITE "B2"; # OUT (red dual)
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## FT2232-FPGA serial port
LOCATE COMP "tx" SITE "L4"; # OUT
IOBUF  PORT "tx" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rx" SITE "M1"; # IN
IOBUF  PORT "rx" PULLMODE=UP IO_TYPE=LVCMOS33;
## SD card
#LOCATE COMP "sd_dat3_csn" SITE "G13";
#LOCATE COMP "sd_cmd_di" SITE "G12";
#LOCATE COMP "sd_clk" SITE "G11";
#LOCATE COMP "sd_dat0_do" SITE "H12";
#LOCATE COMP "sd_dat1_irq" SITE "H11";
#LOCATE COMP "sd_dat2" SITE "F13";
#LOCATE COMP "sd_cdn" SITE "E13";
#LOCATE COMP "sd_wp" SITE "J12";
#LOCATE COMP "sd_pwrn" SITE "H13";
#IOBUF  PORT "sd_dat3_csn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_cmd_di" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_clk" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat0_do" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat1_irq" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_dat2" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_cdn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_wp" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "sd_pwrn" PULLMODE=UP IO_TYPE=LVCMOS33;

## SPI Flash chips (select only one, flash_cfg_select[n]=1"
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
#LOCATE COMP "flash_csspin" SITE "AJ3";
#LOCATE COMP "flash_initn" SITE "AG4";
#LOCATE COMP "flash_done" SITE "AJ4";
#LOCATE COMP "flash_programn" SITE "AH4";
#LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
#LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
#LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF  PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

## DIP switches
#LOCATE COMP "dip[0]" SITE "A33";
#LOCATE COMP "dip[1]" SITE "A32";
#LOCATE COMP "dip[2]" SITE "B32";
#LOCATE COMP "dip[3]" SITE "C32";
#IOBUF  PORT "dip[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "dip[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## Pushbuttons
#LOCATE COMP "btn[0]" SITE "E11";
#LOCATE COMP "btn[1]" SITE "E10";
#LOCATE COMP "btn[2]" SITE "F10";
#LOCATE COMP "btn[3]" SITE "F12";
#IOBUF  PORT "btn[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
#IOBUF  PORT "btn[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
## SDRAM
LOCATE COMP "sdram_clk" SITE "H20";
LOCATE COMP "sdram_cke" SITE "J19";
LOCATE COMP "sdram_csn" SITE "U19";
LOCATE COMP "sdram_rasn" SITE "U20";
LOCATE COMP "sdram_casn" SITE "T17";
LOCATE COMP "sdram_wen" SITE "T18";
LOCATE COMP "sdram_a[0]" SITE "P20";
LOCATE COMP "sdram_a[1]" SITE "P19";
LOCATE COMP "sdram_a[2]" SITE "N20";
LOCATE COMP "sdram_a[3]" SITE "N19";
LOCATE COMP "sdram_a[4]" SITE "M20";
LOCATE COMP "sdram_a[5]" SITE "M19";
LOCATE COMP "sdram_a[6]" SITE "L20";
LOCATE COMP "sdram_a[7]" SITE "L19";
LOCATE COMP "sdram_a[8]" SITE "K20";
LOCATE COMP "sdram_a[9]" SITE "K19";
LOCATE COMP "sdram_a[10]" SITE "R20";
LOCATE COMP "sdram_a[11]" SITE "J20";
LOCATE COMP "sdram_a[12]" SITE "J17"; # not connected
LOCATE COMP "sdram_ba[0]" SITE "T20"; 
LOCATE COMP "sdram_ba[1]" SITE "T19";
LOCATE COMP "sdram_dqm[0]" SITE "R18";
LOCATE COMP "sdram_dqm[1]" SITE "G20";
LOCATE COMP "sdram_d[0]" SITE "M18";
LOCATE COMP "sdram_d[1]" SITE "L18";
LOCATE COMP "sdram_d[2]" SITE "K18";
LOCATE COMP "sdram_d[3]" SITE "J18";
LOCATE COMP "sdram_d[4]" SITE "E18";
LOCATE COMP "sdram_d[5]" SITE "J18";
LOCATE COMP "sdram_d[6]" SITE "N18";
LOCATE COMP "sdram_d[7]" SITE "P18";
LOCATE COMP "sdram_d[8]" SITE "G19";
LOCATE COMP "sdram_d[9]" SITE "F20";
LOCATE COMP "sdram_d[10]" SITE "F19";
LOCATE COMP "sdram_d[11]" SITE "E20";
LOCATE COMP "sdram_d[12]" SITE "C20";
LOCATE COMP "sdram_d[13]" SITE "D19";
LOCATE COMP "sdram_d[14]" SITE "D20";
LOCATE COMP "sdram_d[15]" SITE "E19";
IOBUF PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_csn" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_rasn" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_casn" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[11]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_a[12]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[8]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[9]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[10]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[11]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[12]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[13]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[14]" PULLMODE=NONE IO_TYPE=LVCMOS33;
IOBUF PORT "sdram_d[15]" PULLMODE=NONE IO_TYPE=LVCMOS33;

