#
# ULX3S board I/O constraints
#
# PCB versions 2.x and 3.x
# Constraints file revision 0.2, 2025/04/12
#

COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK JTAGPATHS;

# Main 25 MHz on-board clock generator
LOCATE COMP "clk_25m" SITE "G2";	# IN
FREQUENCY PORT "clk_25m" 25 MHZ;

# USB UART receive and transmit data
LOCATE COMP "rs232_rx" SITE "M1";	# IN
LOCATE COMP "rs232_tx" SITE "L4";	# OUT
LOCATE COMP "rs232_rts" SITE "M3";	# IN
LOCATE COMP "rs232_dtr" SITE "N1";	# IN

# LED indicators
LOCATE COMP "led[0]" SITE "B2";		# OUT
LOCATE COMP "led[1]" SITE "C2";		# OUT
LOCATE COMP "led[2]" SITE "C1";		# OUT
LOCATE COMP "led[3]" SITE "D2";		# OUT
LOCATE COMP "led[4]" SITE "D1";		# OUT
LOCATE COMP "led[5]" SITE "E2";		# OUT
LOCATE COMP "led[6]" SITE "E1";		# OUT
LOCATE COMP "led[7]" SITE "H3";		# OUT

# DIP switches
LOCATE COMP "sw[0]" SITE "E7";		# IN
LOCATE COMP "sw[1]" SITE "D7";		# IN
LOCATE COMP "sw[2]" SITE "D8";		# IN
LOCATE COMP "sw[3]" SITE "E8";		# IN

# Pushbuttons
LOCATE COMP "btn_up" SITE "R18";	# IN
LOCATE COMP "btn_down" SITE "V1";	# IN
LOCATE COMP "btn_left" SITE "U1";	# IN
LOCATE COMP "btn_right" SITE "H16";	# IN
LOCATE COMP "btn_f1" SITE "R1";		# IN
LOCATE COMP "btn_f2" SITE "T1";		# IN
LOCATE COMP "btn_pwr" SITE "D6";	# IN

# Phone jack: 4-bit DAC resistor network on each contact
LOCATE COMP "p_tip[0]" SITE "E4";	# INOUT
LOCATE COMP "p_tip[1]" SITE "D3";	# INOUT
LOCATE COMP "p_tip[2]" SITE "C3";	# INOUT
LOCATE COMP "p_tip[3]" SITE "B3";	# INOUT
LOCATE COMP "p_ring[0]" SITE "A3";	# INOUT
LOCATE COMP "p_ring[1]" SITE "B5";	# INOUT
LOCATE COMP "p_ring[2]" SITE "D5";	# INOUT
LOCATE COMP "p_ring[3]" SITE "C5";	# INOUT
LOCATE COMP "p_ring2[0]" SITE "H5";	# INOUT
LOCATE COMP "p_ring2[1]" SITE "F2";	# INOUT
LOCATE COMP "p_ring2[2]" SITE "F5";	# INOUT
LOCATE COMP "p_ring2[3]" SITE "E5";	# INOUT

# Serial flash (SPI)
LOCATE COMP "flash_cen" SITE "R2";	# OUT
LOCATE COMP "flash_sck" SITE "U3";	# OUT
LOCATE COMP "flash_si" SITE "W2";	# OUT
LOCATE COMP "flash_so" SITE "V2";	# IN
LOCATE COMP "flash_holdn" SITE "W1";
LOCATE COMP "flash_wpn" SITE "Y2";

# MicroSD card (SPI)
LOCATE COMP "sd_clk" SITE "H2";
LOCATE COMP "sd_cmd" SITE "J1";
LOCATE COMP "sd_d[0]" SITE "J3";
LOCATE COMP "sd_d[1]" SITE "H1";
LOCATE COMP "sd_d[2]" SITE "K1";
LOCATE COMP "sd_d[3]" SITE "K2";
LOCATE COMP "sd_wp" SITE "P5";
LOCATE COMP "sd_cdn" SITE "N5";

# ADC SPI (MAX11123)
LOCATE COMP "adc_csn" SITE "R17";
LOCATE COMP "adc_mosi" SITE "R16";
LOCATE COMP "adc_miso" SITE "U16";
LOCATE COMP "adc_sclk" SITE "P17";

# PCB antenna
LOCATE COMP "ant" SITE "G1";

# 16M x 16 bit SDRAM
LOCATE COMP "sdram_clk" SITE "F19";
LOCATE COMP "sdram_cke" SITE "F20";
LOCATE COMP "sdram_csn" SITE "P20";
LOCATE COMP "sdram_wen" SITE "T20";
LOCATE COMP "sdram_rasn" SITE "R20";
LOCATE COMP "sdram_casn" SITE "T19";
LOCATE COMP "sdram_a[0]" SITE "M20";
LOCATE COMP "sdram_a[1]" SITE "M19";
LOCATE COMP "sdram_a[2]" SITE "L20";
LOCATE COMP "sdram_a[3]" SITE "L19";
LOCATE COMP "sdram_a[4]" SITE "K20";
LOCATE COMP "sdram_a[5]" SITE "K19";
LOCATE COMP "sdram_a[6]" SITE "K18";
LOCATE COMP "sdram_a[7]" SITE "J20";
LOCATE COMP "sdram_a[8]" SITE "J19";
LOCATE COMP "sdram_a[9]" SITE "H20";
LOCATE COMP "sdram_a[10]" SITE "N19";
LOCATE COMP "sdram_a[11]" SITE "G20";
LOCATE COMP "sdram_a[12]" SITE "G19";
LOCATE COMP "sdram_ba[0]" SITE "P19";
LOCATE COMP "sdram_ba[1]" SITE "N20";
LOCATE COMP "sdram_dqm[0]" SITE "U19";
LOCATE COMP "sdram_dqm[1]" SITE "E20";
LOCATE COMP "sdram_d[0]" SITE "J16";
LOCATE COMP "sdram_d[1]" SITE "L18";
LOCATE COMP "sdram_d[2]" SITE "M18";
LOCATE COMP "sdram_d[3]" SITE "N18";
LOCATE COMP "sdram_d[4]" SITE "P18";
LOCATE COMP "sdram_d[5]" SITE "T18";
LOCATE COMP "sdram_d[6]" SITE "T17";
LOCATE COMP "sdram_d[7]" SITE "U20";
LOCATE COMP "sdram_d[8]" SITE "E19";
LOCATE COMP "sdram_d[9]" SITE "D20";
LOCATE COMP "sdram_d[10]" SITE "D19";
LOCATE COMP "sdram_d[11]" SITE "C20";
LOCATE COMP "sdram_d[12]" SITE "E18";
LOCATE COMP "sdram_d[13]" SITE "F18";
LOCATE COMP "sdram_d[14]" SITE "J18";
LOCATE COMP "sdram_d[15]" SITE "J17";

# GPDI differential interface (Video) "gpdi" sheet
LOCATE COMP "gpdi_dp[0]" SITE "A16"; # Blue +
#LOCATE COMP "gpdi_dn[0]" SITE "B16"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "A14"; # Green +
#LOCATE COMP "gpdi_dn[1]" SITE "C14"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "A12"; # Red +
#LOCATE COMP "gpdi_dn[2]" SITE "A13"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "A17"; # Clock +
#LOCATE COMP "gpdi_dn[3]" SITE "B18"; # Clock -
LOCATE COMP "gpdi_ethp" SITE "A19"; # Ethernet +
#LOCATE COMP "gpdi_ethn" SITE "B20"; # Ethernet -
LOCATE COMP "gpdi_cec" SITE "A18";
LOCATE COMP "gpdi_sda" SITE "B19"; # I2C shared with RTC
LOCATE COMP "gpdi_scl" SITE "E12"; # I2C shared with RTC C12->E12

# GPIO (default single-ended) "gpio", "ram", "gpdi" sheet
# Pins enumerated gp[0-27], gn[0-27].
# To enable differential pair mode, set IOBUF gp[x] IO_TYPE=LVCMOS33D,
# and reference only gp[] (+) in the design.
LOCATE COMP "gp[0]"  SITE "B11"; # J1_5+  GP0
LOCATE COMP "gn[0]"  SITE "C11"; # J1_5-  GN0
LOCATE COMP "gp[1]"  SITE "A10"; # J1_7+  GP1
LOCATE COMP "gn[1]"  SITE "A11"; # J1_7-  GN1
LOCATE COMP "gp[2]"  SITE "A9";  # J1_9+  GP2
LOCATE COMP "gn[2]"  SITE "B10"; # J1_9-  GN2
LOCATE COMP "gp[3]"  SITE "B9";  # J1_11+ GP3
LOCATE COMP "gn[3]"  SITE "C10"; # J1_11- GN3
LOCATE COMP "gp[4]"  SITE "A7";  # J1_13+ GP4
LOCATE COMP "gn[4]"  SITE "A8";  # J1_13- GN4
LOCATE COMP "gp[5]"  SITE "C8";  # J1_15+ GP5
LOCATE COMP "gn[5]"  SITE "B8";  # J1_15- GN5
LOCATE COMP "gp[6]"  SITE "C6";  # J1_17+ GP6
LOCATE COMP "gn[6]"  SITE "C7";  # J1_17- GN6
LOCATE COMP "gp[7]"  SITE "A6";  # J1_23+ GP7
LOCATE COMP "gn[7]"  SITE "B6";  # J1_23- GN7
LOCATE COMP "gp[8]"  SITE "A4";  # J1_25+ GP8
LOCATE COMP "gn[8]"  SITE "A5";  # J1_25- GN8
LOCATE COMP "gp[9]"  SITE "A2";  # J1_27+ GP9
LOCATE COMP "gn[9]"  SITE "B1";  # J1_27- GN9
LOCATE COMP "gp[10]" SITE "C4";  # J1_29+ GP10  WIFI_GPIO27
LOCATE COMP "gn[10]" SITE "B4";  # J1_29- GN10
LOCATE COMP "gp[11]" SITE "F4";  # J1_31+ GP11  WIFI_GPIO25
LOCATE COMP "gn[11]" SITE "E3";  # J1_31- GN11  WIFI_GPIO26
LOCATE COMP "gp[12]" SITE "G3";  # J1_33+ GP12  WIFI_GPIO32
LOCATE COMP "gn[12]" SITE "F3";  # J1_33- GN12  WIFI_GPIO33
LOCATE COMP "gp[13]" SITE "H4";  # J1_35+ GP13  WIFI_GPIO34
LOCATE COMP "gn[13]" SITE "G5";  # J1_35- GN13  WIFI_GPIO35
LOCATE COMP "gp[14]" SITE "U18"; # J2_5+  GP14
LOCATE COMP "gn[14]" SITE "U17"; # J2_5-  GN14
LOCATE COMP "gp[15]" SITE "N17"; # J2_7+  GP15
LOCATE COMP "gn[15]" SITE "P16"; # J2_7-  GN15
LOCATE COMP "gp[16]" SITE "N16"; # J2_9+  GP16
LOCATE COMP "gn[16]" SITE "M17"; # J2_9-  GN16
LOCATE COMP "gp[17]" SITE "L16"; # J2_11+ GP17
LOCATE COMP "gn[17]" SITE "L17"; # J2_11- GN17
LOCATE COMP "gp[18]" SITE "H18"; # J2_13+ GP18
LOCATE COMP "gn[18]" SITE "H17"; # J2_13- GN18
LOCATE COMP "gp[19]" SITE "F17"; # J2_15+ GP19
LOCATE COMP "gn[19]" SITE "G18"; # J2_15- GN19
LOCATE COMP "gp[20]" SITE "D18"; # J2_17+ GP20
LOCATE COMP "gn[20]" SITE "E17"; # J2_17- GN20
LOCATE COMP "gp[21]" SITE "C18"; # J2_23+ GP21
LOCATE COMP "gn[21]" SITE "D17"; # J2_23- GN21
LOCATE COMP "gp[22]" SITE "B15"; # J2_25+ GP22 D15->B15
LOCATE COMP "gn[22]" SITE "C15"; # J2_25- GN22 E15->C15
LOCATE COMP "gp[23]" SITE "B17"; # J2_27+ GP23
LOCATE COMP "gn[23]" SITE "C17"; # J2_27- GN23
LOCATE COMP "gp[24]" SITE "C16"; # J2_29+ GP24
LOCATE COMP "gn[24]" SITE "D16"; # J2_29- GN24
LOCATE COMP "gp[25]" SITE "D14"; # J2_31+ GP25 B15->D14
LOCATE COMP "gn[25]" SITE "E14"; # J2_31- GN25 C15->E14
LOCATE COMP "gp[26]" SITE "B13"; # J2_33+ GP26
LOCATE COMP "gn[26]" SITE "C13"; # J2_33- GN26
LOCATE COMP "gp[27]" SITE "D13"; # J2_35+ GP27
LOCATE COMP "gn[27]" SITE "E13"; # J2_35- GN27

# PROGRAMN (reload bitstream from FLASH, exit from bootloader)
LOCATE COMP "user_programn" SITE "M4";

# SHUTDOWN "power", "ram" sheet (connected from PCB v1.7.5)
LOCATE COMP "shutdown" SITE "G16"; # FPGA receives (XXX?)

# SPI OLED DISPLAY SSD1331 (Color) or SSD1306 (B/W) "blinkey", "usb" sheet
LOCATE COMP "oled_clk" SITE "P4";
LOCATE COMP "oled_mosi" SITE "P3";
LOCATE COMP "oled_dc" SITE "P1";
LOCATE COMP "oled_resn" SITE "P2";
LOCATE COMP "oled_csn" SITE "N2";

# ESP-32 "wifi" (ulx3s PCB ver. >= 3.1.6)
LOCATE COMP "esp32_rxd" SITE "K3";	# OUT
LOCATE COMP "esp32_txd" SITE "K4";	# IN
LOCATE COMP "esp32_en" SITE "J5";	# INOUT
LOCATE COMP "esp32_gpio0" SITE "F1";	# INOUT
LOCATE COMP "esp32_gpio19" SITE "N4";	# INOUT
LOCATE COMP "esp32_gpio21" SITE "K5";	# INOUT
LOCATE COMP "esp32_gpio22" SITE "L2";	# INOUT
LOCATE COMP "esp32_gpio25" SITE "E9";	# INOUT
LOCATE COMP "esp32_gpio26" SITE "L1";	# INOUT
LOCATE COMP "esp32_gpio27" SITE "N3";	# INOUT
LOCATE COMP "esp32_gpio35" SITE "E6";	# INOUT

# Bitstream generation options
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# All I/O ports are tied to 3.3 V, default to no pull up / down, weak drive
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

# Overriding IOBUF defaults
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33D;
IOBUF PORT "gpdi_cec" PULLMODE=UP;
IOBUF PORT "gpdi_sda" PULLMODE=UP;
IOBUF PORT "gpdi_scl" PULLMODE=UP;
IOBUF PORT "shutdown" PULLMODE=DOWN;
IOBUF PORT "user_programn" PULLMODE=UP;
IOBUF PORT "sw[0]" PULLMODE=DOWN;
IOBUF PORT "sw[1]" PULLMODE=DOWN;
IOBUF PORT "sw[2]" PULLMODE=DOWN;
IOBUF PORT "sw[3]" PULLMODE=DOWN;
IOBUF PORT "btn_pwr" PULLMODE=UP;
IOBUF PORT "btn_f1" PULLMODE=DOWN;
IOBUF PORT "btn_f2" PULLMODE=DOWN;
IOBUF PORT "btn_up" PULLMODE=DOWN;
IOBUF PORT "btn_down" PULLMODE=DOWN;
IOBUF PORT "btn_left" PULLMODE=DOWN;
IOBUF PORT "btn_right" PULLMODE=DOWN;
IOBUF PORT "flash_csn" PULLMODE=UP;
IOBUF PORT "flash_holdn" PULLMODE=UP;
IOBUF PORT "flash_wpn" PULLMODE=UP;
IOBUF PORT "p_ring2[3]" DRIVE=16;
IOBUF PORT "p_ring2[2]" DRIVE=8;
IOBUF PORT "p_ring[3]" DRIVE=16;
IOBUF PORT "p_ring[2]" DRIVE=8;
IOBUF PORT "p_tip[3]" DRIVE=16;
IOBUF PORT "p_tip[2]" DRIVE=8;
IOBUF PORT "esp32_en" PULLMODE=UP;
IOBUF PORT "esp32_gpio0" PULLMODE=UP;

# clock domain crossing from main clk to video pixclk
BLOCK PATH FROM CLKNET "clk_90m" TO CLKNET "pixclk";
BLOCK PATH FROM CLKNET "clk_92m815" TO CLKNET "pixclk";
BLOCK PATH FROM CLKNET "clk_112m5" TO CLKNET "pixclk";
BLOCK PATH FROM CLKNET "clk_123m75" TO CLKNET "pixclk";
