BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX3S minimal constraints, hand-made

# The clock
LOCATE COMP "clk_25MHz" SITE "G2";
IOBUF  PORT "clk_25MHz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25MHz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V
SYSCONFIG CONFIG_IOVOLTAGE=3.3;

## USBSERIAL FTDI-FPGA serial port
LOCATE COMP "tx" SITE "L4"; # OUT
IOBUF  PORT "tx" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "rx" SITE "M1"; # IN
IOBUF  PORT "rx" PULLMODE=UP IO_TYPE=LVCMOS33;

## LED indicators
LOCATE COMP "led[7]" SITE "H3";
LOCATE COMP "led[6]" SITE "E1";
LOCATE COMP "led[5]" SITE "E2";
LOCATE COMP "led[4]" SITE "D1";
LOCATE COMP "led[3]" SITE "D2";
LOCATE COMP "led[2]" SITE "C1";
LOCATE COMP "led[1]" SITE "C2";
LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Pushbuttons
LOCATE COMP "btn[0]" SITE "R1"; # FIRE1
LOCATE COMP "btn[1]" SITE "T1"; # FIRE2
LOCATE COMP "btn[2]" SITE "W1"; # UP
LOCATE COMP "btn[3]" SITE "V1"; # DOWN
LOCATE COMP "btn[4]" SITE "U1"; # LEFT
LOCATE COMP "btn[5]" SITE "Y2"; # RIGHT
IOBUF  PORT "btn[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## SPI OLED DISPLAY SSD1331 (Color) or SSD1306 (B/W)
LOCATE COMP "oled_clk" SITE "P4";
LOCATE COMP "oled_mosi" SITE "P3";
LOCATE COMP "oled_dc" SITE "P1";
LOCATE COMP "oled_resn" SITE "P2";
LOCATE COMP "oled_csn" SITE "N2";
IOBUF  PORT "oled_clk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_dc" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_resn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "oled_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SPI Flash chip
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
#LOCATE COMP "flash_csspin" SITE "AJ3";
#LOCATE COMP "flash_initn" SITE "AG4";
#LOCATE COMP "flash_done" SITE "AJ4";
#LOCATE COMP "flash_programn" SITE "AH4";
#LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
#LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
#LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## SD card
LOCATE COMP "sd_clk" SITE "J1"; # sd_clk
LOCATE COMP "sd_cmd_di" SITE "J3"; # sd_cmd_di
LOCATE COMP "sd_dat0_do" SITE "K2"; # sd_dat0_do
LOCATE COMP "sd_dat1_irq" SITE "K1"; # sd_dat1_irq
LOCATE COMP "sd_dat2" SITE "H2"; # sd_dat2
LOCATE COMP "sd_dat3_csn" SITE "H1"; # sd_dat3_csn
LOCATE COMP "sd_wp" SITE "P5";
LOCATE COMP "sd_cdn" SITE "N5";
IOBUF  PORT "sd_clk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_cmd_di" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_dat0_do" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_dat1_irq" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_dat2" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_dat3_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_wp" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_cdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SDRAM
LOCATE COMP "sdram_clk" SITE "H20";
LOCATE COMP "sdram_cke" SITE "J19";
LOCATE COMP "sdram_csn" SITE "U19";
LOCATE COMP "sdram_rasn" SITE "U20";
LOCATE COMP "sdram_casn" SITE "T17";
LOCATE COMP "sdram_wen" SITE "T18";
LOCATE COMP "sdram_a[0]" SITE "P20";
LOCATE COMP "sdram_a[1]" SITE "P19";
LOCATE COMP "sdram_a[2]" SITE "N20";
LOCATE COMP "sdram_a[3]" SITE "N19";
LOCATE COMP "sdram_a[4]" SITE "M20";
LOCATE COMP "sdram_a[5]" SITE "M19";
LOCATE COMP "sdram_a[6]" SITE "L20";
LOCATE COMP "sdram_a[7]" SITE "L19";
LOCATE COMP "sdram_a[8]" SITE "K20";
LOCATE COMP "sdram_a[9]" SITE "K19";
LOCATE COMP "sdram_a[10]" SITE "R20";
LOCATE COMP "sdram_a[11]" SITE "J20";
LOCATE COMP "sdram_a[12]" SITE "J17"; # not connected
LOCATE COMP "sdram_ba[0]" SITE "T20"; 
LOCATE COMP "sdram_ba[1]" SITE "T19";
LOCATE COMP "sdram_dqm[0]" SITE "R18";
LOCATE COMP "sdram_dqm[1]" SITE "G20";
LOCATE COMP "sdram_d[0]" SITE "M18";
LOCATE COMP "sdram_d[1]" SITE "L18";
LOCATE COMP "sdram_d[2]" SITE "K18";
LOCATE COMP "sdram_d[3]" SITE "J18";
LOCATE COMP "sdram_d[4]" SITE "E18";
LOCATE COMP "sdram_d[5]" SITE "F18";
LOCATE COMP "sdram_d[6]" SITE "N18";
LOCATE COMP "sdram_d[7]" SITE "P18";
LOCATE COMP "sdram_d[8]" SITE "G19";
LOCATE COMP "sdram_d[9]" SITE "F20";
LOCATE COMP "sdram_d[10]" SITE "F19";
LOCATE COMP "sdram_d[11]" SITE "E20";
LOCATE COMP "sdram_d[12]" SITE "C20";
LOCATE COMP "sdram_d[13]" SITE "D19";
LOCATE COMP "sdram_d[14]" SITE "D20";
LOCATE COMP "sdram_d[15]" SITE "E19";
IOBUF PORT "sdram_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_cke" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_csn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_rasn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_casn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_a[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_ba[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sdram_d[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# GPDI differential interface (Video)
LOCATE COMP "gpdi_dp[0]" SITE "A17";
LOCATE COMP "gpdi_dn[0]" SITE "B18";
LOCATE COMP "gpdi_dp[1]" SITE "A16";
LOCATE COMP "gpdi_dn[1]" SITE "B16";
LOCATE COMP "gpdi_dp[2]" SITE "A14";
LOCATE COMP "gpdi_dn[2]" SITE "C14";
LOCATE COMP "gpdi_ethp" SITE "A12";
LOCATE COMP "gpdi_ethn" SITE "A13";
LOCATE COMP "gpdi_clkp" SITE "A18";
LOCATE COMP "gpdi_clkn" SITE "B19";
LOCATE COMP "gpdi_cec" SITE "A19";
LOCATE COMP "gpdi_sda" SITE "B20";
LOCATE COMP "gpdi_scl" SITE "C12";
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_clkp" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_clkn" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_cec" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_sda" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_scl" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# GPIO (default single-ended)
# for differential rename LVCMOS33->LVCMOS33D
LOCATE COMP "j1a[5]"  SITE "B11"; # J1_5+
LOCATE COMP "j1a[6]"  SITE "C11"; # J1_5-
LOCATE COMP "j1a[7]"  SITE "A10"; # J1_7+
LOCATE COMP "j1a[8]"  SITE "A11"; # J1_7-
LOCATE COMP "j1a[9]"  SITE "B10"; # J1_9+
LOCATE COMP "j1a[10]" SITE "A9";  # J1_9-
LOCATE COMP "j1a[11]" SITE "B9";  # J1_11+
LOCATE COMP "j1a[12]" SITE "C10"; # J1_11-
LOCATE COMP "j1a[13]" SITE "A7";  # J1_13+
LOCATE COMP "j1a[14]" SITE "A8";  # J1_13-
LOCATE COMP "j1a[15]" SITE "C8";  # J1_15+
LOCATE COMP "j1a[16]" SITE "B8";  # J1_15-
LOCATE COMP "j1a[17]" SITE "C6";  # J1_17+
LOCATE COMP "j1a[18]" SITE "C7";  # J1_17-
IOBUF PORT "j1a[5]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[6]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[7]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[8]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[9]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[16]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[17]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1a[18]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "j1b[23]" SITE "A6";  # J1_23+
LOCATE COMP "j1b[24]" SITE "B6";  # J1_23-
LOCATE COMP "j1b[25]" SITE "A4";  # J1_25+
LOCATE COMP "j1b[26]" SITE "A5";  # J1_25-
LOCATE COMP "j1b[27]" SITE "A2";  # J1_27+
LOCATE COMP "j1b[28]" SITE "B1";  # J1_27-
LOCATE COMP "j1b[29]" SITE "C4";  # J1_29+
LOCATE COMP "j1b[30]" SITE "B4";  # J1_29-
LOCATE COMP "j1b[31]" SITE "F4";  # J1_31+
LOCATE COMP "j1b[32]" SITE "E3";  # J1_31-
LOCATE COMP "j1b[33]" SITE "G3";  # J1_33+
LOCATE COMP "j1b[34]" SITE "F3";  # J1_33-
LOCATE COMP "j1b[35]" SITE "H4";  # J1_35+
LOCATE COMP "j1b[36]" SITE "G5";  # J1_35-
IOBUF PORT "j1b[23]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[24]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[25]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[26]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[27]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[28]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[29]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[30]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[31]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[32]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[33]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[34]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[35]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j1b[36]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "j2a[5]"  SITE "U18"; # J2_5+
LOCATE COMP "j2a[6]"  SITE "U17"; # J2_5-
LOCATE COMP "j2a[7]"  SITE "N17"; # J2_7+
LOCATE COMP "j2a[8]"  SITE "P16"; # J2_7-
LOCATE COMP "j2a[9]"  SITE "N16"; # J2_9+
LOCATE COMP "j2a[10]" SITE "M17"; # J2_9-
LOCATE COMP "j2a[11]" SITE "L16"; # J2_11+
LOCATE COMP "j2a[12]" SITE "L17"; # J2_11-
LOCATE COMP "j2a[13]" SITE "H18"; # J2_13+
LOCATE COMP "j2a[14]" SITE "H17"; # J2_13-
LOCATE COMP "j2a[15]" SITE "F18"; # J2_15+
LOCATE COMP "j2a[16]" SITE "G18"; # J2_15-
LOCATE COMP "j2a[17]" SITE "D18"; # J2_17+
LOCATE COMP "j2a[18]" SITE "E17"; # J2_17-
IOBUF PORT "j2a[5]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[6]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[7]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[8]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[9]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[16]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[17]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2a[18]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "j2b[23]" SITE "C18"; # J2_23+
LOCATE COMP "j2b[24]" SITE "D17"; # J2_23-
LOCATE COMP "j2b[25]" SITE "D15"; # J2_25+
LOCATE COMP "j2b[26]" SITE "E15"; # J2_25-
LOCATE COMP "j2b[27]" SITE "B17"; # J2_27+
LOCATE COMP "j2b[28]" SITE "C17"; # J2_27-
LOCATE COMP "j2b[29]" SITE "C16"; # J2_29+
LOCATE COMP "j2b[30]" SITE "D16"; # J2_29-
LOCATE COMP "j2b[31]" SITE "B15"; # J2_31+
LOCATE COMP "j2b[32]" SITE "C15"; # J2_31-
LOCATE COMP "j2b[33]" SITE "B13"; # J2_33+
LOCATE COMP "j2b[34]" SITE "C13"; # J2_33-
LOCATE COMP "j2b[35]" SITE "D13"; # J2_35+
LOCATE COMP "j2b[36]" SITE "E13"; # J2_35-
IOBUF PORT "j2b[23]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[24]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[25]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[26]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[27]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[28]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[29]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[30]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[31]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[32]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[33]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[34]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[35]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "j2b[36]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
