#
# E2LP board - Spartan-6 XC6SLX45-FGG676-2
#

NET clk_50m TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50 MHz high 50%;

NET clk_50m LOC = AF14 | IOSTANDARD = LVCMOS33;
#NET clk_50m_p LOC = AF14 | IOSTANDARD = LVDS_33;
#NET clk_50m_n LOC = AD14 | IOSTANDARD = LVDS_33;

NET rs232_rxd LOC = A21 | IOSTANDARD = LVCMOS33;
NET rs232_txd LOC = A20 | IOSTANDARD = LVCMOS33;

NET led<0> LOC = N24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<1> LOC = N23 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<2> LOC = M24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<3> LOC = L24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<4> LOC = L23 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<5> LOC = K24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<6> LOC = H24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET led<7> LOC = D24 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;

NET btn_south LOC = AC24 | IOSTANDARD = LVCMOS33;
NET btn_west LOC = AC23 | IOSTANDARD = LVCMOS33;
NET btn_center LOC = AB24 | IOSTANDARD = LVCMOS33;
NET btn_east LOC = AA24 | IOSTANDARD = LVCMOS33;
NET btn_north LOC = AA23 | IOSTANDARD = LVCMOS33;

NET sw<0> LOC = W19 | IOSTANDARD = LVCMOS33;
NET sw<1> LOC = Y24 | IOSTANDARD = LVCMOS33;
NET sw<2> LOC = K19 | IOSTANDARD = LVCMOS33;
NET sw<3> LOC = V24 | IOSTANDARD = LVCMOS33;
NET sw<4> LOC = U20 | IOSTANDARD = LVCMOS33;
NET sw<5> LOC = U23 | IOSTANDARD = LVCMOS33;
NET sw<6> LOC = U24 | IOSTANDARD = LVCMOS33;
NET sw<7> LOC = U19 | IOSTANDARD = LVCMOS33;

NET lcd_rw LOC = C21 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_rs LOC = F24 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_e LOC = D21 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_bl LOC = AD24 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_db<0> LOC = W18 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_db<1> LOC = V18 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_db<2> LOC = D18 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;
NET lcd_db<3> LOC = T18 | IOSTANDARD = LVCMOS33 | DRIVE=4 | SLEW = SLOW;

NET gpio<0> LOC = C5 | IOSTANDARD = LVCMOS33;
NET gpio<1> LOC = C6 | IOSTANDARD = LVCMOS33;
NET gpio<2> LOC = D6 | IOSTANDARD = LVCMOS33;
NET gpio<3> LOC = C7 | IOSTANDARD = LVCMOS33;
NET gpio<4> LOC = C9 | IOSTANDARD = LVCMOS33;
NET gpio<5> LOC = C11 | IOSTANDARD = LVCMOS33;
NET gpio<6> LOC = C13 | IOSTANDARD = LVCMOS33;
NET gpio<7> LOC = C17 | IOSTANDARD = LVCMOS33;
