#####################################################
### Open Bench Logic Sniffer BOARD CONSTRAINTS FILE
#####################################################

# === Clock

NET clk_50m		LOC=P41   |IOSTANDARD=LVCMOS33 |CLOCK_DEDICATED_ROUTE=FALSE;
NET clk_50m PERIOD=20.0ns HIGH 50%;

# ==== Two LED on board====
NET LED<0>	LOC=P9	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;	# Armed_OUT
NET LED<1>	LOC=P10	| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;	# Trigger_OUT

# ==== WING Board side 16bit====
NET WINGA<0>	LOC=P53	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<1>	LOC=P54	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<2>	LOC=P57	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<3>	LOC=P58	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<4>	LOC=P60	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<5>	LOC=P61	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<6>	LOC=P62	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<7>	LOC=P63	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<8>	LOC=P65	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET WINGA<9>	LOC=P66	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET WINGA<10>	LOC=P67	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET WINGA<11>	LOC=P68	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET WINGA<12>	LOC=P70	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET WINGA<13>	LOC=P71 |IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET WINGA<14>	LOC=P78 |IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET WINGA<15>	LOC=P79 |IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;

# ==== INPUTS====
NET INPUT<0>	LOC=P83	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<1>	LOC=P84	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<2>	LOC=P85	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<3>	LOC=P86	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<4>	LOC=P88	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<5>	LOC=P89	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<6>	LOC=P90	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<7>	LOC=P91	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<8>	LOC=P5	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<9>	LOC=P4	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<10>	LOC=P3	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<11>	LOC=P2	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<12>	LOC=P98	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<13>	LOC=P95	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET INPUT<14>	LOC=P94	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;

#==== Flash====
NET "flash_si"	LOC = P27 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  #MOSI
NET "flash_so"	LOC = P44 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  #MISO 
NET "flash_sck"	LOC = P50 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  #SCK
NET "flash_cen"	LOC = P24 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  #CS 

# ==== RS-232 Serial Ports (RS232) ====
# NB: DCE matches up with a PC serial port
NET "rs232_dce_rxd" LOC = P26 | IOSTANDARD=LVCMOS33;
NET "rs232_dce_txd" LOC = P33 | IOSTANDARD=LVCMOS33;
