#####################################################
### SPARTAN-3E STARTER KIT BOARD CONSTRAINTS FILE
#####################################################

# === JP5 Flash

NET btn_east            LOC=P24  |IOSTANDARD=LVTTL |PULLDOWN;
NET btn_north           LOC=P50  |IOSTANDARD=LVTTL |PULLDOWN;
NET btn_south           LOC=P27  |IOSTANDARD=LVTTL |PULLDOWN;  # is also reset
NET btn_west            LOC=P44  |IOSTANDARD=LVTTL |PULLDOWN;

# === Clock

NET clk_50m		LOC=P41   |IOSTANDARD=LVCMOS33 |CLOCK_DEDICATED_ROUTE=FALSE;
NET clk_50m PERIOD=20.0ns HIGH 50%;

# ==== WING Board side 16bit====

NET lcd_rw              LOC=P53  	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_rs              LOC=P54  	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_e               LOC=P57 	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<0>           LOC=P58 	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<1>           LOC=P60   |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<2>           LOC=P61   |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<3>           LOC=P62  	|IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
#NET LED<0>              LOC=P63  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
#NET LED<1>              LOC=P65  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET LED<0>              LOC=P9  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 6;
NET LED<1>              LOC=P10  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 6;
NET LED<2>              LOC=P66 	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET LED<3>              LOC=P67  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET LED<4>              LOC=P68  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET LED<5>              LOC=P70  	|IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET LED<6>              LOC=P71   |IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;
NET LED<7>              LOC=P78   |IOSTANDARD=LVTTL | SLEW = SLOW | DRIVE = 12;



NET rot_a              LOC=P83 | IOSTANDARD=LVTTL ;
NET rot_b              LOC=P84 | IOSTANDARD=LVTTL ;
NET rot_center         LOC=P85 | IOSTANDARD=LVTTL ;
NET sw<0>              LOC=P86 | IOSTANDARD=LVTTL ;
NET sw<1>              LOC=P88 | IOSTANDARD=LVTTL ;
NET sw<2>              LOC=P89 | IOSTANDARD=LVTTL ;
NET sw<3>              LOC=P90 | IOSTANDARD=LVTTL ;
NET j1<0>              LOC=P79 |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j1<1>              LOC=P91 |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j1<2>              LOC=P5  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j1<3>              LOC=P4  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<0>              LOC=P3  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<1>              LOC=P2  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<2>              LOC=P98 |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<3>              LOC=P95 |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;


# JP4
# ==== RS-232 Serial Ports (RS232) ====
# NB: DCE matches up with a PC serial port
NET rs232_dce_rxd       LOC=P26   |IOSTANDARD=LVTTL;
NET rs232_dce_txd       LOC=P33  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
#NET rs232_dte_rxd       LOC=U8   |IOSTANDARD=LVTTL;
#NET rs232_dte_txd       LOC=M13  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
