#####################################################
### SPARTAN-3E STARTER KIT BOARD CONSTRAINTS FILE
#####################################################

NET btn_east            LOC=H13  |IOSTANDARD=LVTTL |PULLDOWN;
NET btn_north           LOC=V4   |IOSTANDARD=LVTTL |PULLDOWN;
NET btn_south           LOC=K17  |IOSTANDARD=LVTTL |PULLDOWN;  # is also reset
NET btn_west            LOC=D18  |IOSTANDARD=LVTTL |PULLDOWN;

NET clk_50m		LOC=C9   |IOSTANDARD=LVCMOS33 |CLOCK_DEDICATED_ROUTE=FALSE;
NET clk_50m PERIOD=20.0ns HIGH 50%;

# ==== Character LCD (LCD) ====
NET lcd_rw              LOC=L17  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_rs              LOC=L18  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_e               LOC=M18  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<0>           LOC=R15  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<1>           LOC=R16  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<2>           LOC=P17  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;
NET lcd_db<3>           LOC=M15  |IOSTANDARD=LVCMOS33 |DRIVE=4 |SLEW=SLOW;

# ==== Discrete LEDs (LED) ====
# These are shared connections with the FX2 connector
NET LED<0>              LOC=F12  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<1>              LOC=E12  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<2>              LOC=E11  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<3>              LOC=F11  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<4>              LOC=C11  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<5>              LOC=D11  |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<6>              LOC=E9   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;
NET LED<7>              LOC=F9   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=8;

# ==== Rotary Pushbutton Switch (ROT) ====
NET rot_a              LOC=K18 | IOSTANDARD=LVTTL | PULLUP;
NET rot_b              LOC=G18 | IOSTANDARD=LVTTL | PULLUP;
NET rot_center         LOC=V16 | IOSTANDARD=LVTTL | PULLDOWN;


# ==== Slide Switches (SW) ====
NET sw<0>              LOC=L13 | IOSTANDARD=LVTTL | PULLUP;
NET sw<1>              LOC=L14 | IOSTANDARD=LVTTL | PULLUP;
NET sw<2>              LOC=H18 | IOSTANDARD=LVTTL | PULLUP;
NET sw<3>              LOC=N17 | IOSTANDARD=LVTTL | PULLUP;

# ==== 6-pin header J1 ====
# These are *NOT* shared connections with the FX2 connector ON THE 1600E
NET j1<0>              LOC=B4   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j1<1>              LOC=A4   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j1<2>              LOC=D5   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j1<3>              LOC=C5   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;

# ==== 6-pin header J2 ====
# These are shared connections with the FX2 connector
NET j2<0>              LOC=A6   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<1>              LOC=B6   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<2>              LOC=E7   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;
NET j2<3>              LOC=F7   |IOSTANDARD=LVTTL |SLEW=SLOW |DRIVE=6;

# ==== RS-232 Serial Ports (RS232) ====
# NB: DCE matches up with a PC serial port
NET rs232_dce_rxd       LOC=R7   |IOSTANDARD=LVTTL;
NET rs232_dce_txd       LOC=M14  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
#NET rs232_dte_rxd       LOC=U8   |IOSTANDARD=LVTTL;
#NET rs232_dte_txd       LOC=M13  |IOSTANDARD=LVTTL |DRIVE=8 |SLEW=SLOW;
